.keywords-filter {
  width: 100%;
  max-width: 600px;
  max-height: 50px;

  margin-bottom: 40px;

  box-shadow: 0 8px 24px 0 #0000000D;
  color: #575757;

  .mat-icon {
    height: 24px !important;
  }
}
