<mat-card class="summary">
	<mat-card-header class="summary-title">
		<h3>{{ (article$ | async)?.title || '' }}</h3>
	</mat-card-header>

	<!--  I used lorem because the original article summary is very short -->

	<mat-card-content>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet beatae consequuntur cumque
			dignissimos doloremque ea earum est expedita facere ipsam mollitia nemo, nihil non officiis
			omnis perspiciatis quam ratione rem repellat soluta? Alias aut cum dignissimos distinctio
			dolores earum esse facere harum impedit iste libero nam perferendis placeat, quia quidem,
			recusandae reiciendis vero voluptate voluptatem voluptatibus? Adipisci aliquam aspernatur
			atque cumque debitis deserunt dicta doloremque dolores enim esse iusto nihil nostrum, nulla
			numquam perspiciatis quas quia quibusdam quisquam ratione, rem soluta unde vitae voluptatem! A
			ab architecto consectetur dolorem error eum explicabo, fugiat ipsam, magni necessitatibus
			officia perferendis recusandae, ullam.
		</p>

		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquam aliquid amet assumenda
			deserunt dolore doloremque doloribus ducimus eius enim eos esse expedita explicabo fuga,
			fugiat illo iste itaque laudantium magni maiores maxime molestias mollitia nostrum nulla
			obcaecati praesentium quasi reprehenderit rerum sequi similique sit sunt suscipit ullam unde
			voluptatem voluptates voluptatum. Delectus ea hic iusto laborum nam nostrum praesentium, quae
			veritatis. Animi consectetur dicta inventore officiis perspiciatis quo ratione repellendus
			sequi similique, tempore. Aspernatur, et exercitationem fugit illum mollitia non nulla odit
			reiciendis. Alias corporis delectus laborum quae quam quasi quisquam, repudiandae sapiente
			similique voluptates. Aspernatur culpa dicta fugit harum illum incidunt ipsam nesciunt,
			obcaecati sed tenetur ullam veritatis, voluptates? Asperiores consequatur cupiditate dolor ea,
			et facere iusto molestiae nam quae, quod tempora temporibus ullam! Ab alias architecto dolor
			dolorum earum, eos est facere incidunt laboriosam libero necessitatibus, non officia
			praesentium quisquam voluptatibus? Ab doloremque minus nemo nobis quasi.
		</p>

		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid architecto at cupiditate
			doloremque, exercitationem iure magnam maiores modi nisi odio, quisquam quo, repellat
			repudiandae sint unde veniam voluptates! Cumque dolores eaque eum illum obcaecati possimus?
			Alias aliquam laboriosam quaerat quas recusandae! Aperiam, dolorem facilis illo itaque iure
			odit quia quis, recusandae sequi similique, tenetur totam vel voluptates. A accusamus aperiam
			assumenda at, deserunt dignissimos dolore dolorem eos excepturi exercitationem facere incidunt
			ipsum iusto laborum laudantium minima modi nam neque nesciunt nobis non numquam obcaecati,
			odio pariatur quae quaerat quasi quia quibusdam quo recusandae repellendus rerum sapiente
			similique sint sit veniam!
		</p>
	</mat-card-content>
</mat-card>
