*{
  box-sizing: border-box;
}

html {
  font-family: Montserat, sans-serif;
  line-height: 1.2;
  color: #363636;
}

main {
  max-width: 1400px;
  margin: 0 auto;
  padding-top: 50px;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

h3 {
  font-size: 1em;
  margin: 10px 0;
}

a{
  text-decoration: none;
  color: #363636;
}

.semi-bold {
  font-weight: 600;
}

.keyword {
  background-color: #ff0;
}
